* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #323433;
  height: 60px;
}

#first-section {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  padding: 25px;
}
#second-section {
  width: 600px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-img {
  width: 60px;

}

.images-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}
.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}