
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

h1, p {
  text-align: center;
}

li:hover {
  background-color: aqua;
}
li:active {
  font-family: 'Macondo', cursive;
}
li {
  list-style: none;
}