.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 350px;
  left: 100px;
  z-index: 2;
}

.baloon {
  position: absolute;
  left: 300px;
  z-index: 3;
}

.speach {
  position: absolute;
  font-size: 25px;
  left: 325px;
  top: 115px;
  z-index: 4;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 580px;
  top:250px
}