ol li {
  background-color: yellow;
}

.li-par {
  color: green;
}

.li-impar {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: red;
}

h1 em,h2 em, h3 em {
  font-size: 40px;
  border: 1px black solid;
}

li {
  font-size: 20px;
}

li em {
  font-weight: 800;
}

.language-color {
  color: blue;
}

.java {
  background-color: pink;
}

.green:hover {
color: green;
transition: 0.5s;

}
#orange:hover {
  color: orange;
  transition: 0.5s;

}
#black:hover {
  color: black;
  transition: 0.5s;
}
#yellow:hover{
  color: yellow;
  transition: 0.5s;
}